
body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin-left: 0px;
    margin-top: -1.5rem;
  }
  
  header {
    text-align: center;
    background-color: black;
    width: 100%;
  }
  
  #title {
    font-size: 36px;
    color: wheat;    
  }
  
  h2 {
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  
  main{
    display: flex;
    align-items: start;
    width: 100%;
    
  }

  
  table {
    text-align: center;
    width: 40%;
  }
  
  #poster{
    height: 30rem;
    max-height: 30rem;
    width: 50%;
    max-width: 50%;
    
  }
  
  
  ul{
    list-style: none;
  }
  li{
    margin-top: 0.5rem;
    cursor: pointer;
    width: fit-content;
  }
  .left {
    width: 150px;
  }
  aside{
    width: 10%;
    position: relative;
  }
  a{
    text-decoration: none;

  }
  a:visited{
    color: black;
  }
  a:link{
    color: black;
  }

  @media only screen and (max-width:767px){
    
    #poster{
      width: 16rem;
      height: 16rem;
    }
    table{
      width: 50%;
    }
    h2 {
      font-size: 20px;
      text-transform: uppercase;
    }
    
    h3 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
    aside{
      width: 20%;
    }
    
  }

  @media only screen and (max-width:672px){
    main{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 10% 90%;
      grid-template-areas: 
      "head head"
      "years poster"
      ;
      justify-items: center;

    }
    aside{
      grid-area: head;
      width: 100%;
    }
    #years{
      width: 100%;
      display: flex;
      justify-content: space-around;

    }
    table{
      margin-top: 1rem;
      grid-area: years;
      width: 100%;
      
    }
    tr{
      width: 0.5rem;
      font-size: 14px;
      
    }
    
    #poster{
      margin-top: 4rem;
      grid-area: poster;
      max-width: none;
      float: inline-start;        
    }

  }

  @media only screen and (max-width:630px){
    main{
      
      grid-template-rows: 5% 30% 0%;
      grid-template-areas: 
      "head head"
      "poster poster"
      "days days"      
      ;
      
    }

    #poster{
      grid-area: poster;
      margin-top: 5px;
    }
    table{
      grid-area: days;
      margin-top: 5rem;
    }
    thead{
      display: none;
    }
    tbody{
      display: inline-block;
      width: 100%;
      flex-direction: row;
    }
    td{
      width: 100vw;
      padding: 0px;
    }
    ul{
      padding: 0px;
      margin: 0px;
      display: inline-flex;
    }
    li{
      padding: 0px;
      margin: 5px;
    }
    
    h3{
      font-size: 0.7rem;
    }
    .left{
      width: 0.2rem;
    }
  }